<div class="container">
    <form>
        <p class="fs-2">Register a new seller</p>

        <hr>

        <div class="row offset-1">

            <!-- Name Input -->
            <div class="col-4 mt-4">
                <label for="name" class="form-label">Name:</label>
                <input type="text" class="form-control" id="name">
            </div>

            <!-- Salary Input -->
            <div class="col-4 mt-4">
                <label for="salary" class="form-label">Salary:</label>
                <input type="text" class="form-control" id="salary">
            </div>

            <!-- Gender Input -->
            <div class="col-4 mt-4">
                <label for="gender" class="form-label">Gender:</label>
                <select class="form-select" id="gender">
                    <option selected>Select an Option</option>
                    <option value="1">Male</option>
                    <option value="2">Female</option>
                </select>
            </div>

            <!-- Bonus Input -->
            <div class="row">
                <div class="col-4 mt-4">
                    <label for="bonus" class="form-label">Bonus:</label>
                    <input type="text" class="form-control" id="bonus">
                </div>
            </div>

            <!-- Button -->
            <div class="row">
                <div>
                    <button class="btn btn-success mt-4">Save</button>
                </div>
            </div>

        </div>

    </form>
</div>