<div class="container">
    <form [formGroup]="sellerForm" (ngSubmit)="save()">
        <p class="fs-2">Register a new seller</p>

        <div class="row">

            <!-- Name Input -->
            <div class="col-4 mt-4">
                <label for="name" class="form-label">Name:</label>
                <input type="text" class="form-control" id="name" formControlName="name">

                <!-- Errors -->
                <div *ngIf="saveWasClicked && sellerForm.invalid">
                    <small class="text-danger" *ngIf="name.errors?.['required']">*A name is Required</small>
                    <small class="text-danger" *ngIf="name.errors?.['minlength'] || name.errors?.['maxlength']">*Name must be between 5 and 255 characters</small>
                </div>
            </div>

            <!-- Salary Input -->
            <div class="col-4 mt-4">
                <label for="salary" class="form-label">Salary:</label>
                <input type="number" class="form-control" id="salary" formControlName="salary">

                <!-- Errors -->
                <div *ngIf="saveWasClicked && sellerForm.invalid">
                    <small class="text-danger" *ngIf="salary.errors?.['required']">*A salary is required</small>
                </div>
            </div>

            <!-- Gender Input -->
            <div class="col-4 mt-4">
                <label for="gender" class="form-label">Gender:</label>
                <select class="form-select" id="gender" formControlName="gender">
                    <option value="male">Male</option>
                    <option value="female">Female</option>
                </select>

                <!-- Errors -->
                <div *ngIf="saveWasClicked && sellerForm.invalid">
                    <small class="text-danger" *ngIf="gender.errors?.['required']">*A gender is required</small>
                </div>
            </div>

            <!-- Bonus Input -->
            <div class="row">
                <div class="col-4 mt-4">
                    <label for="bonus" class="form-label">Bonus:</label>
                    <input type="number" class="form-control" id="bonus" formControlName="bonus">

                    <!-- Errors -->
                    <div *ngIf="saveWasClicked && sellerForm.invalid">
                        <small class="text-danger" *ngIf="bonus.errors?.['required']">*A bonus is required</small>
                        <small class="text-danger" *ngIf="bonus.errors?.['min'] || bonus.errors?.['max']">*A bonus must be between 0% and 100%</small>
                    </div>
                </div>

                <div class="col-2 ms-2 mt-4" *ngIf="sellerForm.value.id">
                    <label for="sellerId" class="form-label">ID:</label>
                    <input type="number" class="form-control" id="sellerId" formControlName="id" readonly>
                </div>

            </div>

            <!-- Button -->
            <div class="row">
                <div>
                    <button type="submit" class="btn btn-success mt-4 me-4">Save</button>
                    <button type="button" class="btn btn-danger mt-4" (click)="resetForm()">Cancel</button>
                </div>
            </div>

        </div>
    </form>




</div>